$padding: 20px;

.ion-padding {
    padding: $padding;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .heading__navigation {
        .heading__navigation__title {
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            span {
                font-weight: 700;
                color: var(--ion-color-primary);
            }
        }
        ion-text {
            p {
                margin: 5px 0 0 0;
                font-size: 10px;
                font-weight: 300;
                span {
                    font-weight: 500;
                    color: var(--ion-color-primary);
                }
            }
        }
    }
    ion-icon {
        font-size: 35px;
        color: var(--ion-color-primary);
        cursor: pointer;
    }
}

ion-list {
    margin-right: -($padding);
    margin-bottom: 0;
    margin-left: -($padding);
    padding: 10px 0;
    ion-item {
        margin-bottom: 15px;
        margin-left: 15px;
        box-shadow: 0 0 10px #0000001A;
        border-top-left-radius: 25px; 
        border-bottom-left-radius: 25px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --inner-padding-end: 0;
        --background-activated: none;
        --background-focused: none;
        --background-hover: none;
        --highlight-color-focused: none;
        --highlight-color-invalid: none;
        --highlight-color-valid: none;
        &:last-child {
            margin-bottom: 0;
        }
        .store {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 15px $padding;
            .store__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 100%;
                > ion-label {
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 1;
                }
                ion-note {
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    line-height: 1;
                    ion-icon {
                        margin-right: 3px;
                        color: var(--ion-color-primary);
                    }
                }
                .store__content__delivery {
                    display: flex;
                    align-items: center;
                    ion-badge {
                        display: flex;
                        align-items: center;
                        height: 20px;
                        margin: 0;
                        padding: 0 10px;
                        border-radius: 1000px;
                        ion-icon {
                            margin-right: 3px;
                            font-size: 10px;
                        }
                        span {
                            font-size: 8px;
                            font-weight: 400;
                        }
                    }
                    > span {
                        margin-left: 8px;
                        font-size: 8px;
                        color: var(--ion-color-medium);
                    }
                }
            }
            ion-thumbnail {
                width: 60px;
                height: 60px;
                margin: 0;
                --border-radius: 15px;
            }
        }
    }
}