<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="heading">
      <div class="heading__navigation">
        <h1 class="heading__navigation__title">Bonjour <span>Julien</span> !</h1>
        <ion-text>
          <p>Livraison au <span>33 rue Emile Zola</span></p>
        </ion-text>
      </div>
      <ion-icon name="contact" [routerLink]="['/account']"></ion-icon>
    </div>

    <ion-list>
      <ion-item href="#" detail="false" lines="none" *ngFor="let store of stores" [routerLink]="['/products']">
        <div class="store">
          <div class="store__content">
            <ion-label>{{store.name}}</ion-label>
            <ion-note>
              <ion-icon name="star"></ion-icon>
              <span>{{store.rating}} &#9679; {{store.type}} &#9679; {{store.price}}</span>
            </ion-note>
            <div class="store__content__delivery">
              <ion-badge color="secondary">
                <ion-icon name="time"></ion-icon>
                <span>{{store.deliveryTime}} min</span>
              </ion-badge>
              <span>{{store.distance}} km</span>
            </div>
          </div>
          <ion-thumbnail>
            <img src="../../assets/img/{{store.imgName}}.jpg" alt="{{store.name}}">
          </ion-thumbnail>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>