<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <h1 class="title">Bonjour <span>Julien</span> !</h1>

    <ion-list>
      <ion-item href="#" lines="none" *ngFor="let store of stores">
        <div class="store">
          <div class="store__content">
            <ion-label>{{store.name}}</ion-label>
            <ion-note>
              <ion-icon name="star"></ion-icon>
              <span>{{store.rating}} &#9679; {{store.type}} &#9679; {{store.price}}</span>
            </ion-note>
            <div class="store__content__delivery">
              <ion-badge color="secondary">
                <ion-icon name="time"></ion-icon>
                <span>{{store.deliveryTime}} min</span>
              </ion-badge>
              <span>{{store.distance}} km</span>
            </div>
          </div>
          <ion-thumbnail>
            <img src="../../assets/img/{{store.imgName}}.png" alt="{{store.name}}">
          </ion-thumbnail>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>