<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Rosaparks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="heading">
      <div class="heading__navigation">
        <h1 class="heading__navigation__title">Bonjour <span>Julien</span> !</h1>
        <ion-text>
          <p>Livraison au <span>33 rue Emile Zola</span></p>
        </ion-text>
      </div>
      <ion-icon name="contact" [routerLink]="['/account']"></ion-icon>
    </div>

    <div class="background">
      <ion-img src="../../assets/img/{{imgName}}.jpg" alt="{{name}}"></ion-img>
    </div>

    <div class="card">
      <ion-item lines="none">
        <div class="store">
          <div class="store__content">
            <ion-label>{{name}}</ion-label>
            <ion-note>
              <ion-icon name="star"></ion-icon>
              <span>{{rating}} &#9679; {{type}} &#9679; {{price}}</span>
            </ion-note>
            <div class="store__content__delivery">
              <ion-badge color="secondary">
                <ion-icon name="time"></ion-icon>
                <span>{{deliveryTime}} min</span>
              </ion-badge>
              <span>{{distance}} km</span>
            </div>
          </div>
          <ion-thumbnail>
            <img src="../../assets/img/{{imgName}}.jpg" alt="{{name}}">
          </ion-thumbnail>
        </div>
      </ion-item>
    </div>

    <div class="slider">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let category of categories">
          <div class="productCategory">
            <span class="productCategory__marker" *ngIf="category === activeCategory"></span>
            <span
              [class]="category === activeCategory ? 'productCategory__name productCategory__name--active' : 'productCategory__name'">{{category}}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-list>
      <ion-item detail [lines]="products.length === i + 1 ? 'none' : 'full'"
        *ngFor="let product of products; let i = index" (click)="addToBasket(i)">
        <ion-thumbnail slot="start">
          <img src="../../assets/img/{{product.imgName}}.jpg" alt="{{product.name}}">
        </ion-thumbnail>
        <div class="product__content">
          <ion-label>{{product.name}} - {{product.price | number:'1.2-2':'fr-FR'}}€</ion-label>
          <ion-text color="medium">
            <p>{{product.description}}</p>
          </ion-text>
        </div>
      </ion-item>
    </ion-list>

    <div class="basket" *ngIf="showBasket">
      <ion-item detail lines="none" [routerLink]="['/basket']">
        <ion-label color="light">Panier</ion-label>
        <ng-container *ngIf="basketItems.length <= 3">
          <ion-thumbnail *ngFor="let item of basketItems">
            <img src="../../assets/img/{{item.imgName}}.jpg" alt="{{item.name}}">
          </ion-thumbnail>
        </ng-container>
        <ng-container *ngIf="basketItems.length > 3">
          <ion-thumbnail>
            <img src="../../assets/img/{{basketItems[0].imgName}}.jpg" alt="{{basketItems[0].name}}">
          </ion-thumbnail>
          <ion-thumbnail>
            <img src="../../assets/img/{{basketItems[1].imgName}}.jpg" alt="{{basketItems[1].name}}">
          </ion-thumbnail>
          <ion-thumbnail>
            <img src="../../assets/img/{{basketItems[2].imgName}}.jpg" alt="{{basketItems[2].name}}">
          </ion-thumbnail>
          <div class="basket__counter">
            <span>+{{basketItems.length - 3}}</span>
          </div>
        </ng-container>
      </ion-item>
    </div>

  </div>
</ion-content>